@using Sinodom.ElevatorCloud.Authorization
@using Sinodom.ElevatorCloud.Web.Areas.AppAreaName.Startup
@model Sinodom.ElevatorCloud.Web.Areas.AppAreaName.Models.ECCPBaseAreas.ECCPBaseAreasViewModel
@{
    ViewBag.CurrentPageName = AppAreaNamePageNames.Host.ECCPBaseAreas;
}

@section Scripts
{
    <script abp-src="/view-resources/Areas/AppAreaName/Views/ECCPBaseAreas/Index.js" asp-append-version="true"></script>
}

<div class="m-subheader">
    <div class="row align-items-center">
        <div class="mr-auto col-sm-12 col-md-6">
            <h3 class="m-subheader__title m-subheader__title--separator">
                <span>@L("ECCPBaseAreas")</span>
            </h3>
            <span class="m-section__sub">
                @L("ECCPBaseAreasHeaderInfo")
            </span>
        </div>
        <div class="col-sm-12 col-md-6 text-right">
            @if (IsGranted(AppPermissions.Pages_EccpBase_EccpBaseAreas_Create))
            {
                <button id="CreateNewECCPBaseAreaButton" class="btn btn-primary blue">
                    <i class="fa fa-plus"></i> @L("CreateNewECCPBaseArea")</button>
            }
        </div>
    </div>
</div>
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__body">
            <div class="m-form m-form--label-align-right">
                <div class="row align-items-center m--margin-bottom-10">
                    <div class="col-xl-12">
                        <div class="form-group m-form__group align-items-center">
                            <div class="input-group">
                                <input type="text" id="ECCPBaseAreasTableFilter" class="form-control m-input" placeholder="@L("SearchWithThreeDot")" value="@Model.FilterText">
                                <span class="input-group-btn">
                                    <button id="GetECCPBaseAreasButton" class="btn btn-primary" type="submit">
                                        <i class="flaticon-search-1"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="AdvacedAuditFiltersArea" style="display: none" class="row m--margin-bottom-10">
                <div class="col-md-12">
                    <div class="m-separator m-separator--dashed"></div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="MinParentIdFilterId">@L("MinMax") @L("ParentId")</label>
                        <div class="input-group">
                            <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minParentIdFilter" id="MinParentIdFilterId"/>
                            <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxParentIdFilter" id="MaxParentIdFilterId"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="CodeFilterId">@L("Code")</label>
                        <input type="text" class="form-control" name="codeFilter" id="CodeFilterId">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="NameFilterId">@L("Name")</label>
                        <input type="text" class="form-control" name="nameFilter" id="NameFilterId">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="MinLevelFilterId">@L("MinMax") @L("Level")</label>
                        <div class="input-group">
                            <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minLevelFilter" id="MinLevelFilterId"/>
                            <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxLevelFilter" id="MaxLevelFilterId"/>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row m--margin-bottom-10">
                <div class="col-xl-12">
                    <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item">
                        <i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                    <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none">
                        <i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                </div>
            </div>
            <div class="row align-items-center">
                <table id="ECCPBaseAreasTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                    <thead>
                    <tr>
                        <th>@L("Actions")</th>
                        <th>@L("ParentId")</th>
                        <th>@L("Code")</th>
                        <th>@L("Name")</th>
                        <th>@L("Level")</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>