@using Sinodom.ElevatorCloud.Web.Areas.AppAreaName.Models.Common.Modals
@model Sinodom.ElevatorCloud.Web.Areas.AppAreaName.Models.ECCPBaseAnnualInspectionUnits.ECCPBaseAnnualInspectionUnitViewModel

@(await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(string.Empty)))

<div class="modal-body">
    <div id="ECCPBaseAnnualInspectionUnitInformationsTab">

        <div class="m-stack m-stack--hor m-stack--general m-stack--demo">
            <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                <h6>@L("Name") :</h6>
                <label> @Model.ECCPBaseAnnualInspectionUnit.Name</label>
            </div>
            <div class="m-separator m-separator--dashed"></div>
            <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                <h6>@L("Addresse") :</h6>
                <label> @Model.ECCPBaseAnnualInspectionUnit.Addresse</label>
            </div>
            <div class="m-separator m-separator--dashed"></div>
            <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                <h6>@L("Telephone") :</h6>
                <label> @Model.ECCPBaseAnnualInspectionUnit.Telephone</label>
            </div>
            <div class="m-separator m-separator--dashed"></div>

            <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                <h6>(@L("Province")) @L("Name") :</h6>
                <label> @Model.ProvinceName</label>
            </div>
            <div class="m-separator m-separator--dashed"></div>
            <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                <h6>(@L("City")) @L("Name") :</h6>
                <label> @Model.CityName</label>
            </div>
            <div class="m-separator m-separator--dashed"></div>
            <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                <h6>(@L("Area")) @L("Name") :</h6>
                <label> @Model.DistrictName</label>
            </div>
            <div class="m-separator m-separator--dashed"></div>
            <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                <h6>(@L("Street")) @L("Name") :</h6>
                <label> @Model.StreetName</label>
            </div>
            <div class="m-separator m-separator--dashed"></div>

        </div>

    </div>
</div>

@(await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalFooterWithClose.cshtml"))