@using Sinodom.ElevatorCloud.Web.Areas.AppAreaName.Models.Common.Modals
@model Sinodom.ElevatorCloud.Web.Areas.AppAreaName.Models.EccpMaintenanceCompanyChangeLogs.EccpMaintenanceCompanyChangeLogViewModel

@(await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(string.Empty)))

<div class="modal-body">
    <div id="EccpMaintenanceCompanyChangeLogInformationsTab">

        <div class="m-stack m-stack--hor m-stack--general m-stack--demo">
            <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                <h6>@L("FieldName") :</h6>
                <label> @Model.EccpMaintenanceCompanyChangeLog.FieldName</label>
            </div>
            <div class="m-separator m-separator--dashed"></div>
            <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                <h6>@L("OldValue") :</h6>
                <label> @Model.EccpMaintenanceCompanyChangeLog.OldValue</label>
            </div>
            <div class="m-separator m-separator--dashed"></div>
            <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                <h6>@L("NewValue") :</h6>
                <label> @Model.EccpMaintenanceCompanyChangeLog.NewValue</label>
            </div>
            <div class="m-separator m-separator--dashed"></div>

            <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                <h6>(@L("ECCPBaseMaintenanceCompany")) @L("Name") :</h6>
                <label> @Model.ECCPBaseMaintenanceCompanyName</label>
            </div>
            <div class="m-separator m-separator--dashed"></div>

        </div>

    </div>
</div>

@(await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalFooterWithClose.cshtml"))