@using Sinodom.ElevatorCloud.Web.Areas.AppAreaName.Models.Common.Modals
@model Sinodom.ElevatorCloud.Web.Areas.AppAreaName.Models.EccpMaintenanceTemplateNodes.EccpMaintenanceNextNodeLookupTableViewModel

@section Scripts
{
    <script abp-src="/view-resources/Areas/AppAreaName/Views/EccpMaintenanceTemplateNodes/_EccpMaintenanceTemplateLookupTableModal.js" asp-append-version="true"></script>
}

@(await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("PickEccpMaintenanceNextNodeLookupTable"))))


<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__body">
            <div class="m-form m-form--label-align-right">
                <div class="row align-items-center m--margin-bottom-10">
                    <div class="col-xl-12">
                        <div class="form-group m-form__group align-items-center">
                            <div class="input-group">
                                <input type="text" id="EccpMaintenanceNextNodeLookupTableFilter" class="form-control m-input" placeholder="@L("SearchWithThreeDot")" value="@Model.FilterText">
                                <span class="input-group-btn">
                                    <button id="GetEccpMaintenanceNextNodeLookupTableButton" class="btn btn-primary" type="submit">
                                        <i class="flaticon-search-1"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <table id="EccpMaintenanceNextNodeLookupTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                    <thead>
                    <tr>
                        <th>@L("TemplateNodeName")</th>
                        <th>@L("NodeIndex")</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>


@(await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalFooterWithClose.cshtml"))