@using Sinodom.ElevatorCloud.Web.Areas.AppAreaName.Startup
@model Sinodom.ElevatorCloud.Web.Areas.AppAreaName.Models.EccpMaintenanceWorkOrders.EccpMaintenanceWorkOrdersViewModel
@{
    ViewBag.CurrentPageName = AppAreaNamePageNames.Tenant.EccpMaintenanceWorkOrderTransfers;
}

@section Scripts
{
    <script abp-src="/view-resources/Areas/AppAreaName/Views/EccpMaintenanceWorkOrderTransfers/Index.js" asp-append-version="true"></script>
}

<div class="m-subheader">
    <div class="row align-items-center">
        <div class="mr-auto col-sm-12 col-md-6">
            <h3 class="m-subheader__title m-subheader__title--separator">
                <span>@L("EccpMaintenanceWorkOrderTransfers")</span>
            </h3>
            <span class="m-section__sub">
                @L("EccpMaintenanceWorkOrderTransfersHeaderInfo")
            </span>
        </div>
        <div class="col-sm-12 col-md-6 text-right">

        </div>
    </div>
</div>
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__body">
            <div class="m-form m-form--label-align-right">
                <div class="row align-items-center m--margin-bottom-10">
                    <div class="col-xl-12">
                        <div class="form-group m-form__group align-items-center">
                            <div class="input-group">
                                <input type="text" id="MaintenanceWorkOrderTransfersTableFilter" class="form-control m-input" placeholder="@L("SearchWithThreeDot")" value="@Model.FilterText">
                                <span class="input-group-btn">
                                    <button id="GetMaintenanceWorkOrderTransfersButton" class="btn btn-primary" type="submit">
                                        <i class="flaticon-search-1"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="AdvacedAuditFiltersArea" style="display: none" class="row m--margin-bottom-10">
                <div class="col-md-12">
                    <div class="m-separator m-separator--dashed"></div>
                </div>

                <div class="col-md-3">
                    <label for="IsPassedFilterId">@L("IsApproved")</label>
                    <select class="form-control" name="IsPassedFilter" id="IsPassedFilterId">
                        <option value="-1">@L("All")</option>
                        <option value="0">@L("False")</option>
                        <option value="1">@L("True")</option>
                    </select>
                </div>

            </div>
            <div class="row m--margin-bottom-10">
                <div class="col-xl-12">
                    <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item">
                        <i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                    <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none">
                        <i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                </div>
            </div>
            <div class="row align-items-center">
                <table id="MaintenanceWorkOrderTransfersTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                    <thead>
                    <tr>
                        <th>@L("Actions")</th>
                        <th>@L("WorkOrderTitle")</th>
                        <th>@L("WorkOrderTransferType")</th>
                        <th>@L("OrderTypeName")</th>
                        <th>@L("OrderCreationTime")</th>
                        <th>@L("ApplicationTransferName")</th>
                        <th>@L("ApplicationTransferCreationTime")</th>
                        <th>@L("TransferUserName")</th>
                        <th>@L("WorkOrderTransferAuditState")</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>