@using Sinodom.ElevatorCloud.Web.Areas.AppAreaName.Models.Common.Modals
@model Sinodom.ElevatorCloud.Web.Areas.AppAreaName.Models.EccpMaintenanceWorkFlows.EccpMaintenanceWorkFlowViewModel

@(await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(string.Empty)))

<div class="modal-body">
    <div id="EccpMaintenanceWorkFlowInformationsTab">

        <div class="m-stack m-stack--hor m-stack--general m-stack--demo">
            <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                <h6>@L("ActionCodeValue") :</h6>
                <label> @Model.EccpMaintenanceWorkFlow.ActionCodeValue</label>
            </div>
            <div class="m-separator m-separator--dashed"></div>

            <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                <h6>(@L("EccpMaintenanceTemplateNode")) @L("NodeName") :</h6>
                <label> @Model.EccpMaintenanceTemplateNodeNodeName</label>
            </div>
            <div class="m-separator m-separator--dashed"></div>
            <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                <h6>(@L("EccpMaintenanceWork")) @L("TaskName") :</h6>
                <label> @Model.EccpMaintenanceWorkTaskName</label>
            </div>
            <div class="m-separator m-separator--dashed"></div>
            <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                <h6>(@L("EccpDictMaintenanceWorkFlowStatus")) @L("Name") :</h6>
                <label> @Model.EccpDictMaintenanceWorkFlowStatusName</label>
            </div>
            <div class="m-separator m-separator--dashed"></div>

        </div>

    </div>
</div>

@(await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalFooterWithClose.cshtml"))