@using Sinodom.ElevatorCloud.EccpDict
@using Sinodom.ElevatorCloud.Web.Areas.AppAreaName.Models.Common.Modals
@model Sinodom.ElevatorCloud.Web.Areas.AppAreaName.Models.EccpDictMaintenanceStatuses.CreateOrEditEccpDictMaintenanceStatusViewModel

@await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? L("EditEccpDictMaintenanceStatus") : L("CreateNewEccpDictMaintenanceStatus")))

<div class="modal-body">
    <div id="EccpDictMaintenanceStatusInformationsTab">
        <form name="EccpDictMaintenanceStatusInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.EccpDictMaintenanceStatus.Id"/>
            }


            <div class="form-group">
                <label for="EccpDictMaintenanceStatus_Name">@L("Name")</label>
                <input class="form-control" id="EccpDictMaintenanceStatus_Name" value="@Model.EccpDictMaintenanceStatus.Name" type="text" name="name" required maxlength="@EccpDictMaintenanceStatusConsts.MaxNameLength" minlength="@EccpDictMaintenanceStatusConsts.MinNameLength"/>
            </div>


        </form>
    </div>
</div>

@(await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml"))