@using Sinodom.ElevatorCloud.Authorization
@using Sinodom.ElevatorCloud.Web.Areas.AppAreaName.Startup
@model Sinodom.ElevatorCloud.Web.Areas.AppAreaName.Models.EccpMaintenanceWorkOrders.EccpMaintenanceWorkOrdersViewModel
@{
    ViewBag.CurrentPageName = AppAreaNamePageNames.Tenant.EccpMaintenanceWorkOrders;
}

@section Scripts
    {
    <script abp-src="/view-resources/Areas/AppAreaName/Views/EccpMaintenanceWorkOrders/Index.js" asp-append-version="true"></script>
}

<div class="m-subheader">
    <div class="row align-items-center">
        <div class="mr-auto col-sm-12 col-md-6">
            <h3 class="m-subheader__title m-subheader__title--separator">
                <span>@L("EccpMaintenanceWorkOrders")</span>
            </h3>
            <span class="m-section__sub">
                @L("EccpMaintenanceWorkOrdersHeaderInfo")
            </span>
        </div>
        <div class="col-sm-12 col-md-6 text-right">
            @*@if (IsGranted(AppPermissions.Pages_EccpMaintenance_EccpMaintenanceWorkOrders_Create))
                {
                    <button id="CreateNewEccpMaintenanceWorkOrderButton" class="btn btn-primary blue">
                        <i class="fa fa-plus"></i> @L("CreateNewEccpMaintenanceWorkOrder")</button>
                }*@
        </div>
    </div>
</div>
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__body">
            <div class="m-form m-form--label-align-right">
                <div class="row align-items-center m--margin-bottom-10">
                    <div class="col-xl-12">
                        <div class="form-group m-form__group align-items-center">
                            <div class="input-group">
                                <input type="text" id="EccpMaintenanceWorkOrdersTableFilter" class="form-control m-input" placeholder="@L("SearchWithThreeDot")" value="@Model.FilterText">
                                <span class="input-group-btn">
                                    <button id="GetEccpMaintenanceWorkOrdersButton" class="btn btn-primary" type="submit">
                                        <i class="flaticon-search-1"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="AdvacedAuditFiltersArea" style="display: none" class="row m--margin-bottom-10">
                <div class="col-md-12">
                    <div class="m-separator m-separator--dashed"></div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="EccpDictMaintenanceTypeNameFilterId">(@L("EccpDictMaintenanceType")) @L("Name")</label>
                        <input type="text" class="form-control" name="eccpDictMaintenanceTypeNameFilter" id="EccpDictMaintenanceTypeNameFilterId">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="EccpElevatorNameFilterId">@L("EccpElevatorName")</label>
                        <input type="text" class="form-control" name="eccpElevatorNameFilter" id="EccpElevatorNameFilterId">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="MinPlanCheckDateFilterId">@L("MinMax") @L("PlanCheckDate")</label>
                        <div class="input-group">
                            <input class="form-control m-input date-picker" type="text" placeholder="@L("MinValue")" id="MinPlanCheckDateFilterId">
                            <input class="form-control m-input date-picker" type="text" placeholder="@L("MaxValue")" id="MaxPlanCheckDateFilterId">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="EccpMaintenancePlanPollingPeriodFilterId">(@L("EccpMaintenancePlan")) @L("PollingPeriod")</label>
                        <input type="text" class="form-control" name="eccpMaintenancePlanPollingPeriodFilter" id="EccpMaintenancePlanPollingPeriodFilterId">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="EccpDictMaintenanceStatusNameFilterId">(@L("EccpDictMaintenanceStatus")) @L("Name")</label>
                        <input type="text" class="form-control" name="eccpDictMaintenanceStatusNameFilter" id="EccpDictMaintenanceStatusNameFilterId">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="EccpMaintenanceUserNameFilterId">@L("EccpMaintenanceUserNameList")</label>
                        <input type="text" class="form-control" name="eccpMaintenanceUserNameFilter" id="EccpMaintenanceUserNameFilterId">
                    </div>
                </div>
                @*<div class="col-md-3">
                        <div class="form-group">
                            <label for="EccpPropertyUserNameFilterId">EccpPropertyUserName</label>
                            <input type="text" class="form-control" name="EccpPropertyUserNameFilter" id="EccpPropertyUserNameFilterId">
                        </div>
                    </div>*@
                <div class="col-md-3">
                    <label for="IsPassedFilterId">@L("IsClose")</label>
                    <select class="form-control" name="IsClosedFilter" id="IsClosedFilterId">
                        <option value="-1">@L("All")</option>
                        <option value="0">@L("No")</option>
                        <option value="1">@L("Yes")</option>
                    </select>
                </div>
                @*<div class="col-md-3">
                        <div class="form-group">
                            <label for="MinLongitudeFilterId">@L("MinMax") @L("Longitude")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minLongitudeFilter" id="MinLongitudeFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxLongitudeFilter" id="MaxLongitudeFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinLatitudeFilterId">@L("MinMax") @L("Latitude")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minLatitudeFilter" id="MinLatitudeFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxLatitudeFilter" id="MaxLatitudeFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="IsPassedFilterId">@L("IsPassed")</label>
                        <select class="form-control" name="IsPassedFilter" id="IsPassedFilterId">
                            <option value="-1">@L("All")</option>
                            <option value="0">@L("No")</option>
                            <option value="1">@L("Yes")</option>
                        </select>
                    </div>*@
            </div>
            <div class="row m--margin-bottom-10">
                <div class="col-xl-12">
                    <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item">
                        <i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")
                    </span>
                    <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none">
                        <i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")
                    </span>
                </div>
            </div>
            <div class="row align-items-center">
                <table id="EccpMaintenanceWorkOrdersTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th></th>
                            <th>@L("Actions")</th>
                            <th>@L("EccpDictMaintenanceTypeName")</th>
                            <th>@L("EccpElevatorName")</th>
                            <th>@L("PlanCheckDate")</th>
                            <th>@L("EccpMaintenancePlanPollingPeriod")</th>
                            <th>@L("EccpDictMaintenanceStatusName")</th>
                            <th>@L("ComplateDate")</th>
                            <th>@L("EccpMaintenanceUserNameList")</th>
                            @*<th>@L("EccpPropertyUserNameList")</th>*@
                            <th>@L("IsClose")</th>
                            @*<th>@L("Longitude")</th>
                                <th>@L("Latitude")</th>
                                <th>@L("IsPassed")</th>*@
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>