@using Sinodom.ElevatorCloud.Web.Areas.AppAreaName.Startup
@model Sinodom.ElevatorCloud.Web.Areas.AppAreaName.Models.EccpCompanyUserAuditLogs.EccpCompanyUserAuditLogsViewModel
@{
    ViewBag.CurrentPageName = AppAreaNamePageNames.Host.EccpCompanyUserAuditLogs;
}

@section Scripts
{
    <script abp-src="/view-resources/Areas/AppAreaName/Views/EccpCompanyUserAuditLogs/Index.js" asp-append-version="true"></script>
}

<div class="m-subheader">
    <div class="row align-items-center">
        <div class="mr-auto col-sm-12 col-md-6">
            <h3 class="m-subheader__title m-subheader__title--separator">
                <span>@L("EccpCompanyUserAuditLogs")</span>
            </h3>
            <span class="m-section__sub">
                @L("EccpCompanyUserAuditLogsHeaderInfo")
            </span>
        </div>
        <div class="col-sm-12 col-md-6 text-right">
            @*@if (IsGranted(AppPermissions.Pages_Administration_EccpCompanyUserAuditLogs_Create))
            {
                <button id="CreateNewEccpCompanyUserAuditLogButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewEccpCompanyUserAuditLog")</button>
            }*@
        </div>
    </div>
</div>
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__body">
            <div class="m-form m-form--label-align-right">
                <div class="row align-items-center m--margin-bottom-10">
                    <div class="col-xl-12">
                        <div class="form-group m-form__group align-items-center">
                            <div class="input-group">
                                <input type="text" id="EccpCompanyUserAuditLogsTableFilter" class="form-control m-input" placeholder="@L("SearchWithThreeDot")" value="@Model.FilterText">
                                <span class="input-group-btn">
                                    <button id="GetEccpCompanyUserAuditLogsButton" class="btn btn-primary" type="submit">
                                        <i class="flaticon-search-1"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="AdvacedAuditFiltersArea" style="display: none" class="row m--margin-bottom-10">
                <div class="col-md-12">
                    <div class="m-separator m-separator--dashed"></div>
                </div>

                <div class="col-md-3">
                    <label for="CheckStateFilterId">@L("CheckState")</label>
                    <select class="form-control" name="CheckStateFilter" id="CheckStateFilterId">
                        <option value="-1">@L("All")</option>
                        <option value="0">@L("False")</option>
                        <option value="1">@L("True")</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="UserNameFilterId">(@L("User")) @L("Name")</label>
                        <input type="text" class="form-control" name="userNameFilter" id="UserNameFilterId">
                    </div>
                </div>

            </div>
            <div class="row m--margin-bottom-10">
                <div class="col-xl-12">
                    <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item">
                        <i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                    <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none">
                        <i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                </div>
            </div>
            <div class="row align-items-center">
                <table id="EccpCompanyUserAuditLogsTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                    <thead>
                    <tr>
                        <th>@L("Actions")</th>
                        <th>@L("CheckState")</th>
                        <th>@L("Remarks")</th>
                        <th>@L("UserName")</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>