@using Sinodom.ElevatorCloud.Web.Areas.AppAreaName.Models.Common.Modals
@model Sinodom.ElevatorCloud.Web.Areas.AppAreaName.Models.EccpMaintenanceTempWorkOrders.EccpMaintenanceTempWorkOrderViewModel

@(await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(string.Empty)))

<div class="modal-body">
    <div id="EccpMaintenanceTempWorkOrderInformationsTab">

        <div class="m-stack m-stack--hor m-stack--general m-stack--demo">
            <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                <h6>@L("EccpBaseElevatorName") :</h6>
                <label> @Model.EccpBaseElevatorName</label>
            </div>
            <div class="m-separator m-separator--dashed"></div>
            <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                <h6>@L("WorkOrderTitle") :</h6>
                <label> @Model.EccpMaintenanceTempWorkOrder.Title</label>
            </div>
            <div class="m-separator m-separator--dashed"></div>
            <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                <h6>@L("CheckState") :</h6>
                <label> @Model.EccpMaintenanceTempWorkOrder.CheckState</label>
            </div>
            <div class="m-separator m-separator--dashed"></div>
            <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                <h6>@L("CompletionTime") :</h6>
                <label> @Model.EccpMaintenanceTempWorkOrder.CompletionTime</label>
            </div>
            <div class="m-separator m-separator--dashed"></div>

            <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                <h6>(@L("ECCPBaseMaintenanceCompany")) @L("Name") :</h6>
                <label> @Model.ECCPBaseMaintenanceCompanyName</label>
            </div>
            <div class="m-separator m-separator--dashed"></div>
            <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                <h6>@L("MaintenanceUserName") :</h6>
                <label> @Model.UserName</label>
            </div>
            <div class="m-separator m-separator--dashed"></div>

        </div>

    </div>
</div>

@(await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalFooterWithClose.cshtml"))